body {
    color: darkslategray; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #ffffff;
    font-weight: 300; 
    text-align: center;
}

h2 {
    color: darkslategray;
    font-weight: bold; 
    font-size: 1.9rem;
}

h3 {
    color: darkslategray;
    font-weight: bold; 
    font-size: 1.6rem;
}

.hero-header {
    background: linear-gradient(135deg, #0081a4, #004caa); 
    padding: 40px 20px 45px 20px;
    text-align: center;
    box-shadow: 0 0 50px rgba(0, 114, 255, 0.5); 
    margin-bottom: 20px;
}

.header-content h1 {
    font-size: 3.5rem;
    margin-bottom: 0%;
}

.header-content p {
    font-size: 1.2rem;
    opacity: 0.8;
    margin-top: 0%;
    color: lightgray;
}

.blue-background {
    background-color: rgba(173, 216, 230, 0.521);
    padding: 0.25rem 0.7rem 0.25rem 0.7rem;
}

li {
   color: darkslategray; 
}

a {
    color: #0264a0; 
    text-decoration: none;
    font-size: 1.4rem;
}

hr {
    color: rgba(211, 211, 211, 0.304);
}

code {
   color: darkslategray; 
   font-size: 1.3rem;
   text-align: left;
}
